@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;

	background-image: 
		url("./components/images/background.png");
}

* {
	box-sizing: border-box;
}

.app-title {
	text-align: center;
	padding-top: 20px;
	font-family: 'Orbitron', sans-serif;
	color: white;

}

.app {
	margin: 0;
}

/*Single Grid Boxes*/
.Box {
	display: inline-block;
	border: 1px solid black;
	width: 15px;
	height: 15px;
	margin-left: -1px;
	margin-bottom: -1px;
}

.Box:hover {
	background-color: #f79e02;
}

.Box.isActive {
	background-color: #f79e02;
}

.Grid {
	width: 150px;
	line-height: 0;
	margin: auto;
	box-shadow: 0px 0px 8px grey;
	margin-top: 20px;
	background-color: #03304d;
}

/*Control Icons*/
.control-icon {
	margin: 10px;
}

/* Range Slider Wrapper and Icons */
.icon-wrapper {
	position: relative;
	padding: 0px 30px;
	padding-top: 10px;
	width: 300px;
	display: inline-block;
	color: white;
}

.icon-wrapper .anticon {
	position: absolute;
	top: 22px;
	width: 16px;
	height: 16px;
	line-height: 1;
	font-size: 15px;
	color: white;
}

.icon-wrapper .anticon:first-child {
	left: 0;
}

.icon-wrapper .anticon:last-child {
	right: 0;
}

.control {
	text-align: center;
}

.ticks-tile {
	margin-top: 20px;
	color: white;
}
